@media (max-width: 1050px) {
    p {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    h2 {
        font-size: 2rem;
    }

    img {
        width: 30rem;
    }
}

@media (max-width: 600px) {

    img {
        width: 20rem;
    }
}

@media (max-width: 450px) {

    h2 {
        font-size: 1.6rem;
        margin: 2.7rem;
    }

    figure {
        flex-direction: column;
    }

    img {
        width: 35rem;
    }

    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    p {
        max-width: 35rem;
    }

    .back-button {
        left: 1.4rem;
        top: 2.2rem;
    }

    .back-button>img {
        margin-right: 0.5rem;
    }
}

@media (max-width: 400px) {
    p {
        max-width: 32rem;
    }

    .back-button {
        left: 1rem;
    }
}