@media (max-width: 1050px) {
    
    .back-button {
        display: none;
    }

    p {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    h2 {
        font-size: 2rem;
    }

    img {
        width: 30rem;
    }
}

@media (max-width: 600px) {

    img {
        width: 20rem;
    }
}

@media (max-width: 450px) {

    .criminologia-no-brasil h2 {
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 1.6rem;
        margin: 2.7rem;
    }

    figure {
        flex-direction: column;
    }

    img {
        width: 35rem;
    }

    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    p {
        max-width: 35rem;
    }

}

@media (max-width: 400px) {
    p {
        max-width: 32rem;
    }
}